<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "com.4d.wakanda.companysales"
	version 	= "1.0.0">

	<name>Wakanda Demo: company sales</name>

	<description>
		A demo of wakanda mobile application emmbedded in phonegap
	</description>

	<author href="https://github.com/gilles-danjou"
		email="gilles.danjou@4d.com">
		Gilles Danjou
	</author>

	<icon src="icon.png" gap:role="default" />

	<feature name="http://api.phonegap.com/1.0/geolocation"/>
	<feature name="http://api.phonegap.com/1.0/network"/>

	<preference name="orientation" value="portrait" />
</widget>
